# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.* 
!.env.example

# Next.js build output
.next/
out/

# TypeScript cache
*.tsbuildinfo

# Editor / IDE files
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# caches
.npm
.eslintcache
.stylelintcache
.turbo/

# debug files
*.pid
*.seed
*.tgz
