@import "tailwindcss";

/* Theme variables */
:root {
  --color-background: #1D201F;
  --color-foreground: #F2EEEB;
  --color-primary: #EF6F6C;
  --color-secondary: #37BFC1;
  --color-violet: #6156DD;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* light mode */
[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
  margin: 0;
}
