@import "tailwindcss";

/* Theme variables */
:root {
  --color-background: #1d201f;
  --color-foreground: #f2eeeb;
  --color-primary: #ef6f6c;
  --color-secondary: #37bfc1;
  --color-violet: #7c56dd;

  --color-background-rgb: 29, 32, 31; /* #1D201F */
  --color-foreground-rgb: 242, 238, 235; /* #F2EEEB */
  --color-primary-rgb: 239, 111, 108; /* #EF6F6C */
  --color-secondary-rgb: 55, 191, 193; /* #37BFC1 */
  --color-violet-rgb: 97, 86, 221; /* #6156DD */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* light mode */
[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #1d201f;
}

/* Animations */
.title-pan-in {
  transform: translateX(-100%); /* start fully hidden behind mask */
  animation: slideReveal 1s ease-out forwards;
}

@keyframes slideReveal {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.perspective { perspective: 1000px; }
.backface-hidden { backface-visibility: hidden; }
.transform-style-preserve-3d { transform-style: preserve-3d; }
.rotate-y-180 { transform: rotateY(180deg); }

.card-wrapper {
  transition: height 0.8s ease;
  overflow: hidden;
}

